

p{
	text-align: center;
	background-color: yellow;
	color: blue;
	font-style: italic;
	font-weight: bolder;
}
a{
	color: red;
	box-sizing: border-box ;
	border: 2px solid blue;
	font-weight: 34px ;
}
